body, label {
  font-size: 18px;
  color:#666 !important;
}

.main-contianer {
  max-width: 540px;
  margin: auto;
  background-color: #E0F7FA;
}

.margin-one-half {
  margin: 1.5em auto;
}

.margin-three {
  margin: 3em auto;
}

.controls, .login {
  padding: 50px 40px;
}

.radios svg {
  color: #666;
}
