body {
  font-size: 18px;
}

.main-contianer {
  max-width: 540px;
  margin: auto;
  background-color: #E8F5E9;
}

.line {
  margin: 1.5em auto;
}

.slider-wrap {
  margin: 3em auto;
}

.controls {
  padding: 50px 20px;
}
